div{
    border:2px solid rgb(94, 92, 92)
}

body{
    display:flex;
    flex-direction: column;
    align-items: center;    /*this centers the calculator horizontally on the page*/
    font-family: "Roboto", sans-serif;
}

#calculator{
    display: flex;
    flex-direction: column;
    align-items: center;    /*centers the buttons and the screen
                                inside of the calculator*/

    width:400px;    /*width was created setting first the total size of the buttons
                      (77 including borders), then calculating the width of the button
                      parent: 77*4 + 14*3 (in order to have 14px of space-between) = 350,
                      then adding 25 on left and right to create some space on the borders*/
    min-height:570px;
    margin-top:80px;

    border-radius: 13px;
    background-color: rgb(194, 193, 193);
    
}

#screen{
    min-height: 105px;
    width:350px;
    margin-bottom: 20px;
    margin-top: 20px;

    border-radius: 5px;
    background-color: rgb(234, 245, 250);
    font-size: 30px;
    color: rgb(83, 80, 80);
    padding:5px;

    word-wrap: break-word;
    word-break: break-all;

}

#upper{
    text-align: right;

    width:350px;    
    min-height:70px;
    border: none;
}

#lower{
    text-align: right;
    
    width: 350px;
    min-height: 35px;
    border:none;
}

#buttons{
    display: flex;
    flex-wrap: wrap;    /*we want the buttons to wrap in multiple rows if they 
                          don't fit into the calculator size*/
    justify-content: space-between;

    width:350px;    /*if the width is exactly 350 pixels our 77 divs buttons will fit perfectly
                      4 per row and have (350-77*4)/3 = 14 pixels of space between*/
    height:410px;
    border:none;
}

#buttons button{
    display: flex;
    align-items: center;
    justify-content: center;    /*all this centres the symbol(number or operator)
                                  inside of the div box*/

    width:75px; /*those 2 values where chosen arbitrarily because they looked good*/
    height:62px;

    border-radius: 5px;
    font-size: 30px;

    cursor:grab;
    border:2px solid rgb(94, 92, 92);
    color: rgb(83, 80, 80)
}

#buttons #clear{
    background-color: rgb(247, 193, 193);
    font-size: 25px;
}
#buttons #delete{
    background-color: rgb(198, 199, 250);
    font-size: 25px;
}

#buttons .idk{
    background-color: rgb(253, 228, 199);
    font-size: 30px;
}

footer{
    font-size: 24px;
    margin-top: 170px;
    color: rgb(83, 80, 80)
}
#buttons .number:hover{
    background-color: rgb(226, 224, 224);
}
#buttons .operator:hover{
    background-color: rgb(226, 224, 224);
}
#buttons #clear:hover{
    background-color: rgb(240, 183, 183);
}

#buttons #delete:hover{
    background-color: rgb(187, 188, 240)
}

#buttons .idk:hover{
    background-color: rgb(241, 217, 190);
}

.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}

.fa-github {
    color:rgb(83, 80, 80);
    font-size: 50px;
    transition: transform 0.3s ease-in-out;
    margin-left: 5px;
  }
